__pycache__/
.history/
chrome_cache/
downloads/
whisk_downloads
whisk_errors
dist/
dist
build/
*.spec
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
venv/

logs/   

venv

venv_voice

tool_voices/*/__pycache__/*

video_length_tool/ff*/*.

video_length_tool/*.exe

video_length_tool/venv_video_length/